.alipw-theme-default .alipw-icon-msg-warning{ background:url(../images/icon-warning-32.gif) 0 0 no-repeat;}
.alipw-theme-default .alipw-icon-msg-question{ background:url(../images/icon-question-32.gif) 0 0 no-repeat;}
.alipw-theme-default .alipw-icon-msg-error{ background:url(../images/icon-error-32.gif) 0 0 no-repeat;}
.alipw-theme-default .alipw-icon-msg-success{ background:url(../images/icon-success-32.gif) 0 0 no-repeat;}