.alipw-list{ font:12px/100% Tahoma, Helvetica, Arial, Calibri, Geneva, SimSun; background:#FFF;}
.alipw-list-wrap{ border:1px solid #CCC;}
.alipw-list-body-content{ overflow-x:hidden; overflow-y:hidden; white-space:nowrap; word-break:normal;}