.alipw-taskbar{ display:block; font:12px/120% Tahoma, Helvetica, Arial, Calibri, Geneva, SimSun; padding:0 0 5px 5px; *zoom:1; }
.alipw-taskbar-body-content{ *zoom:1;}
.alipw-taskbar-body-content:after{clear:both; content:"."; display:block; height:0; line-height:0; overflow:hidden; visibility:hidden;}